$chrome-margin:0.39in;

html, body{
  position:relative;
  height:100%;
  width:100%;
}
html, body, .page{
  font-size:18px;
  line-height:1.5em;
}

@media screen{
  body{
    background-color:#E4BB7A;
    background-image:url(bg_wood_l.jpg);
  }
  #main{
    box-shadow:0 0 100px 0 #555;
  }
  .sheet{
    background-color:#fff;
  }
  .page{
    background-image:url(paper_shadow.png);
    background-position:center right;
    background-repeat:no-repeat;
  }
}

@media screen{
  #main{
    display:table;
    table-layout:fixed;
    margin:0 auto;
    border-collapse: separate;
    width:55em;

    .sheet{
      display:table-row;

      .page{
        display:table-cell;
        vertical-align:top;
        height:42.5em;
        border-bottom:1px solid #dadada;
        border-top:1px solid #f0f0f0;
      }
    }
  }
}

@media print{
  #main{
    font-size:0;
  }
  .sheet{
    page-break-inside:avoid;
  }
  .page{
    display:inline-block;
    width:50%;
    vertical-align:top;
  }
}

.page{
  box-sizing:border-box;
  text-align:left;

  &:nth-child(odd){
    .pageNum{
      left:0;
      right:auto;
    }
  }
  &:nth-child(even){
    .pageNum{
      left:auto;
      right:0;
    }
  }

  @media screen{
    padding:0 1em;
    text-shadow:1px 1px 0px #eee;
  }
  @media print{
    &:nth-child(even){
      padding-left:$chrome-margin;
    }
    &:nth-child(odd){
      padding-right:$chrome-margin;
    }
  }
}

.pageDesc{
  font-size:0.75em;
  line-height:3em;
  position:relative;
  margin-bottom:1em;
  border-bottom:1px solid #000;

  h1 a{
    display:block;
    text-align:center;
  }
  .pageNum{
    position:absolute;
    top:0;
  }
}

@media screen{
  @media (max-width:800px){
    #main{
      display:block;
      width:auto;
      .sheet{
        display:inline-block;

        .page{
          display:block;
          width:27.5em;
          height:auto;
          padding-bottom:3em;
          margin:auto;
          border-bottom:1px solid #ddd;
        }
      }
    }
  }
  @media (max-width:500px){
    html, body, .page{
      font-size:12px;
      font-size:(100vw / 29);
    }
  }
}
