$page-width:600px;
$chrome-margin:0.39in;

html, body{
  position:relative;
  height:100%;
  width:100%;
}
html, body, .page{
  font-size:18px;
  line-height:30px;
}

#background{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background-image:url("bg_wood.jpg");
  background-color:#706050;
}

.page{
  .pageDesc{
    font-size:12px;
    position:relative;
    border-bottom:1px solid #000;
    margin-bottom:12px;

    @media screen{
      color:#aaa;
      border-color:#aaa;
      text-shadow:none;
    }

    h1 a{
      display:block;
      text-align:center;
    }
    .pageNum{
      position:absolute;
      top:0;
      left:0;
    }
  }
}

.page{
  color:#000;
  text-shadow:1px 1px 0px #eee;

  position:relative;
  box-sizing:border-box;
  padding:10px 20px;
  text-align:left;
  border-radius:10px;
  background-color:#fff;
  background-image:url("bg_paper.jpg");
  overflow:auto;

  max-width:$page-width;
  margin:30px auto;
  box-shadow:0 0 20px 0 #221;
}

@media (max-width: $page-width){
  .page{
    border-radius:0;
  }
}

@media print{
  #background{
    display:none;
  }
  #main{
    font-size:0;
  }
  .page{
    display:inline-block;
    vertical-align:top;
    width:50%;
    height:100%;
    background-image:none;
    padding:0;
    margin:0;
    max-width:none;
    box-shadow:none;
    text-shadow:none;

    padding-right:$chrome-margin;
    &:nth-child(even){
      padding-right:0;
      padding-left:$chrome-margin;
      .pageDesc{
        .pageNum{
          left:auto;
          right:0;
        }
      }
    }
  }
}
