$chrome-margin:0.39in;

$font-size: 16px;
$desired-height: 680px;
$ratio: (8.5 / 11);
$desired-width: round($desired-height / $ratio);
$sheet-width: floor($desired-width / $font-size);
// Rounding to 1 decimal place
$sheet-height: round(10 * $sheet-width * $ratio) / 10;
$sheet-width-em: 1em * $sheet-width;
$sheet-height-em: 1em * $sheet-height;

html, body{
  position:relative;
  height:100%;
  width:100%;
}
html, body, .page{
  font-size:$font-size;
  line-height:1.5em;
  @media print{
    font-size:17.76px; //'Merica
  }
}

@media screen{
  .sheet{
    background-color:#fff;
  }
  .page{
    border-top:1px solid #f0f0f0;
    &:nth-child(odd){
      background-image:url(paper_shadow.png);
      background-position:center right;
      background-repeat:no-repeat;
    }
  }
}

@media screen{
  #main{
    display:table;
    table-layout:fixed;
    margin:0 auto;
    border-collapse: separate;
    width:$sheet-width-em;

    .sheet{
      display:table-row;

      .page{
        display:table-cell;
        vertical-align:top;
        height:$sheet-height-em;
      }
    }
  }
}

@media print{
  #main{
    font-size:0;
  }
  .sheet{
    page-break-inside:avoid;
  }
  .page{
    display:inline-block;
    width:50%;
    vertical-align:top;
  }
}

.page{
  box-sizing:border-box;
  text-align:left;

  &:nth-child(odd){
    .pageNum{
      left:0;
      right:auto;
    }
  }
  &:nth-child(even){
    .pageNum{
      left:auto;
      right:0;
    }
  }

  @media screen{
    padding:0 1em;
    text-shadow:1px 1px 0px #f9f9f9;
  }
  @media print{
    &:nth-child(even){
      padding-left:$chrome-margin;
    }
    &:nth-child(odd){
      padding-right:$chrome-margin;
    }
  }
}

.pageDesc{
  font-size:0.75em;
  line-height:1.5em;
  position:relative;
  padding-bottom:1em;
  margin-bottom:1em;
  border-bottom:1px solid #000;

  @media screen{
    padding-top:1em;
  }
  h2{
    position:relative;
  }
  a{
    display:block;
    text-align:center;
  }
  .pageNum{
    position:absolute;
    top:0;
  }
}

@media screen{
  @media (max-width:800px){
    #main{
      display:block;
      width:auto;
      .sheet{
        display:inline-block;

        .page{
          display:block;
          width:$sheet-width-em / 2;
          height:auto;
          padding-bottom:3em;
          margin:auto;
          border-bottom:1px solid #ddd;
        }
      }
    }
  }
  @media (max-width:500px){
    html, body, .page{
      font-size:12px;
      font-size:(95vw / ($sheet-width / 2));
    }
  }
}
