$fontText: "Arial", sans-serif;
$fontCode: "Courier New", "Andale Mono", monospace;
$fontHand: "Arial", sans-serif;
$mgn: 0.75em;
$cFocus: #cdf;

html, body{
  font-family:$fontText;
  text-align:center;
}

a, label, button{
  cursor:pointer;
}


strong{
  border-bottom:1px solid #000;
}
em{
  font-style:italic;
}
mark{
  border:1px solid #000;
  border-radius:0.5em;
  background-color:inherit;
  padding:0 0.5em;
  margin:0 2px;
}
dfn{
  font-weight:bold;
}
q{
  &:before{
    content:"\0201c";
  }
  &:after{
    content:"\0201d";
  }
}

p, .fig, h2, ol, ul, pre{
  margin-bottom:$mgn;
  & ~ &{
    margin-top:$mgn;
  }
}
pre, code, .code{
  text-align:left;
  white-space:pre-wrap;
  font-style:normal;
  font-size:1rem;
}
code, .code{
  font-family: $fontCode;
  letter-spacing:-1px;
}
pre.code{
  line-height:1em;
}
.fig{
  text-align:center;

  & > *{
    margin-left:auto;
    margin-right:auto;
  }
}
.ex{
  padding-left:0;

  table{
    width:100%;
  }
}
blockquote{
  font-style:italic;
  font-weight:lighter;
}
label{
  display:block;
  clear:both;
  &:hover{
    background-color:$cFocus;
  }
}
ul, ol{
  margin-left:1em;
}
li{
  ul > &{
    list-style-type:disc;
  }
  ol > &{
    list-style-type:decimal;
  }
}

.wordbank{
  border:1px solid #000;
  border-radius:5px;
  text-align:center;
  ul, ol{
    padding:0;
    margin:0;
  }
  li{
    display:inline-block;
    margin:0 0.5em;
  }
  ol{
    counter-reset: count-num;
    li{
      counter-increment: count-num;
      &:before{
        content: counter(count-num) ". ";
      }
    }
  }
  &:before{
    content:"Word Bank";
    display:block;
    font-size:0.75em;
    border-bottom:1px dashed #000;
  }
}

.HTMLCodeBlock{
  & > *{
    margin-bottom:1.6em;
  }
  code, .code{
    font-weight:normal;
    text-transform:none;
  }
  q{
    &:before,
    &:after{
      content:"";
    }
    span:before{
      content:"\0201c";
    }
    span:after{
      content:"\0201d";
    }
  }
  dfn{
    border-bottom:0;
    span{
      border-bottom:1px dotted #000;
    }
  }
}

table, tr, td{
  position:relative;
}
table{
  counter-reset: count-num count-alpha;
  text-align:left;

  td{
    position:relative;
    padding-left:1em;
    white-space:nowrap;

    &.tdr{
      text-align:right;
    }
    &.div{
      border-right:1px solid #000;
      padding-left:0.5em;
      & + td{
        padding-left:0.5em;
      }
    }
    &.count{
      padding:0 0.5em;
      text-align:left;
      &.num{
        counter-increment: count-num;
        &:before{
          content: counter(count-num) ".";
        }
      }
      &.alpha{
        counter-increment: count-alpha;
        &:before{
          content: counter(count-alpha, lower-alpha) ".";
        }
      }
    }
  }
}


fieldset{
  border-radius:5px;
  border-left:1px solid #000;
  padding-left:1em;
  margin-top:$mgn;
  & + *{
    margin-top:$mgn;
  }
  h2{
    text-align:justify;
  }
  table{
    position:relative;
    left:-1em;
  }
}
b, input[type=text]{
  display:inline-block;
  white-space:nowrap;
  vertical-align:baseline;
  font-family: $fontHand;
}
b{
  width:4em;
}
input[type=text]{
  width:6em;
  border-bottom:1px solid #000;
  font-style:normal;
  text-align:left;

  table &{
    width:3em;
  }

  @media screen{
    &:hover{
      background-color:$cFocus;
      cursor:pointer;
    }
    &:focus{
      background-color:$cFocus;
      cursor:text;
    }
  }
  @media print{
    color:transparent;
  }
  &.checkbox{
    display:inline-block;
    background-color:#fff;
    border:1px solid #999;
    width:0.6em;
    height:0.6em;
    text-align:center;
    cursor:pointer;
    & + span{
      display:inline;
      padding-left:1em;
      vertical-align:bottom;
    }
  }
  &.line{
    display:block;
    width:100%;
  }
}
label.flex{
  display:block;
  width:100%;
  float:left;
  border-bottom:1px solid #000;
  span{
    border-bottom:2px solid #fff;
  }
  input{
    border-bottom:0;
  }
}
