$fontText: "Arial", sans-serif;
$fontCode: "Courier New", "Andale Mono", monospace;
$fontHand: "Arial", sans-serif;

html, body{
  font-family:$fontText;
  text-align:center;
}

a, label, button{
  cursor:pointer;
}


strong{
  color:#000;
  border-bottom:1px solid #000;
}
em{
  font-style:italic;
}
mark{
  border:1px solid #000;
  border-radius:0.5em;
  background-color:inherit;
  padding:0 0.5em;
  margin:0 2px;
}
dfn{
  color:#000;
  font-weight:bold;
  @media screen{
    background-color:#ff0;
  }
}
q{
  &:before{
    content:"\0201c";
  }
  &:after{
    content:"\0201d";
  }
}

pre, code, .code{
  text-align:left;
  white-space:pre-wrap;
  font-family: $fontCode;
  font-style:normal;
  font-size:1rem;
  letter-spacing:-1px;
}
pre{
  line-height:1.4em;
}
.fig{
  text-align:center;

  & > *{
    margin-left:auto;
    margin-right:auto;
  }
}
.ex{
  padding-left:0;

  table{
    width:100%;
  }
}
blockquote{
  font-style:italic;
  font-weight:lighter;
}
label{
  display:block;
  clear:both;
  &:hover{
    background-color:#ffa;
  }
}
ul, ol{
  margin-left:20px;
}
li{
  ul > &{
    list-style-type:disc;
  }
  ol > &{
    list-style-type:decimal;
  }
}

.wordbank{
  text-align:center;
  ul, ol{
    padding-left:0;
  }
  li{
    display:inline-block;
    margin:0 0.5em;
    border-bottom:1px dotted #000;
  }
  ol{
    counter-reset: count-num;
    li{
      counter-increment: count-num;
      &:before{
        content: counter(count-num) ". ";
      }
    }
  }
}

.HTMLCodeBlock{
  & > *{
    margin-bottom:1.6em;
  }
  code, .code{
    font-weight:normal;
    text-transform:none;
  }
  q{
    &:before,
    &:after{
      content:"";
    }
    span:before{
      content:"\0201c";
    }
    span:after{
      content:"\0201d";
    }
  }
  dfn{
    border-bottom:0;
    span{
      border-bottom:1px dotted #000;
    }
  }
}

table, tr, td{
  position:relative;
}
table{
  counter-reset: count-num count-alpha;
  text-align:left;

  td{
    position:relative;
    padding-left:1em;
    white-space:nowrap;

    &.tdr{
      text-align:right;
    }
    &.div{
      border-left:1px solid black;
      padding-left:0em;
    }
    &.count{
      padding:0 0.5em;
      text-align:left;
      &.num{
        counter-increment: count-num;
        &:before{
          content: counter(count-num) ".";
        }
      }
      &.alpha{
        counter-increment: count-alpha;
        &:before{
          content: counter(count-alpha, lower-alpha) ".";
        }
      }
    }
  }
}


fieldset{
  background-color:#fff;
  @media screen{
    border-color:#aaa;
  }
  @media print{
    border-left:1px solid #000;
  }
  & > * {
    padding-left:1em;
  }
  h2{
    color:#000;
    text-align:justify;
    line-height:1.4em;
    margin-left:0;
    margin-bottom:0.5em;
    @media screen{
      background-color:#e9e9ff;
      text-shadow:none;
      padding-right:1em;
    }
  }
}
b, input[type=text]{
  display:inline-block;
  white-space:nowrap;
  vertical-align:baseline;
  font-family: $fontHand;
}
b{
  width:4em;
}
input[type=text]{
  width:6em;
  border-bottom:1px solid #000;
  font-style:normal;
  text-align:left;

  table &{
    width:3em;
  }

  @media screen{
    border-color:#ccc;
    background-color:#ffc;
  }
  @media print{
    color:transparent;
  }
  &.checkbox{
    display:inline-block;
    background-color:#fff;
    border:1px solid #999;
    width:0.6em;
    height:0.6em;
    text-align:center;
    cursor:pointer;
    & + span{
      display:inline;
      padding-left:1em;
      vertical-align:bottom;
    }
  }
  &.line{
    display:block;
    width:100%;
  }
  &.flex{
    flex-grow:1;
    margin-left:0.5em;
    border-width:0 0 1px 0;
    border-radius:0;

    &:only-child{
      margin-left:0;
    }
  }
}
span.line{
  display:inline-flex;
  width:100%;
}
