* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  border-collapse: collapse;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}

*:focus {
  outline: none;
}

div {
  position: relative;
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

html, body, .page {
  font-size: 18px;
  line-height: 1.5em;
}

@media screen {
  body {
    background-color: #E4BB7A;
    background-image: url(bg_wood_l.jpg);
  }
  #main {
    box-shadow: 0 0 100px 0 #555;
  }
  .sheet {
    background-color: #fff;
  }
  .page {
    background-image: url(paper_shadow.png);
    background-position: center right;
    background-repeat: no-repeat;
  }
}

@media screen {
  #main {
    display: table;
    table-layout: fixed;
    margin: 0 auto;
    border-collapse: separate;
    width: 55em;
  }
  #main .sheet {
    display: table-row;
  }
  #main .sheet .page {
    display: table-cell;
    vertical-align: top;
    height: 42.5em;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #f0f0f0;
  }
}

@media print {
  #main {
    font-size: 0;
  }
  .sheet {
    page-break-inside: avoid;
  }
  .page {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}

.page {
  box-sizing: border-box;
  text-align: left;
}

.page:nth-child(odd) .pageNum {
  left: 0;
  right: auto;
}

.page:nth-child(even) .pageNum {
  left: auto;
  right: 0;
}

@media screen {
  .page {
    padding: 0 1em;
    text-shadow: 1px 1px 0px #eee;
  }
}

@media print {
  .page:nth-child(even) {
    padding-left: 0.39in;
  }
  .page:nth-child(odd) {
    padding-right: 0.39in;
  }
}

.pageDesc {
  font-size: 0.75em;
  line-height: 1.5em;
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #000;
}

@media screen {
  .pageDesc {
    padding-top: 1em;
  }
}

.pageDesc h2 {
  position: relative;
}

.pageDesc a {
  display: block;
  text-align: center;
}

.pageDesc .pageNum {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 800px) {
  #main {
    display: block;
    width: auto;
  }
  #main .sheet {
    display: inline-block;
  }
  #main .sheet .page {
    display: block;
    width: 27.5em;
    height: auto;
    padding-bottom: 3em;
    margin: auto;
    border-bottom: 1px solid #ddd;
  }
}

@media screen and (max-width: 500px) {
  html, body, .page {
    font-size: 12px;
    font-size: 3.45455vw;
  }
}

html, body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  text-align: center;
}

a, label, button {
  cursor: pointer;
}

strong {
  border-bottom: 1px solid #000;
}

em {
  font-style: italic;
}

mark {
  border: 1px solid #000;
  border-radius: 0.5em;
  background-color: inherit;
  padding: 0 0.5em;
  margin: 0 2px;
}

dfn {
  font-weight: bold;
}

q:before {
  content: "\0201c";
}

q:after {
  content: "\0201d";
}

h1 {
  font-weight: bold;
}

h1, h3,
p, .fig,
ol, ul, pre,
blockquote,
table {
  margin-bottom: 1em;
}

pre, code {
  text-align: left;
  white-space: pre-wrap;
  font-style: normal;
}

code, .code {
  font-family: "Courier New", "Andale Mono", monospace;
  font-size: 0.9em;
  position: relative;
  top: 0.18em;
  vertical-align: bottom;
}

pre.code {
  line-height: 1em;
}

.fig {
  text-align: center;
}

.fig > * {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-style: italic;
  border-left: 1px solid #000;
  padding-left: 1em;
}

label {
  display: block;
  clear: both;
}

@media screen {
  label:last-child {
    border-radius: 0 0 5px 5px;
  }
  label:hover {
    background-color: #cdf;
  }
}

label.flex {
  width: 100%;
  float: left;
  border-bottom: 1px solid #000;
  border-radius: 0px !important;
}

label.flex:hover {
  background-color: transparent;
}

label.flex span {
  border-bottom: 2px solid #fff;
}

label.flex input {
  border-bottom: 0;
}

label.flex:hover input {
  background-color: #cdf;
}

ul, ol {
  margin-left: 1em;
}

ul > li {
  list-style-type: disc;
}

ol > li {
  list-style-type: decimal;
}

.HTMLCodeBlock code, .HTMLCodeBlock .code {
  font-weight: normal;
  text-transform: none;
}

.HTMLCodeBlock q:before, .HTMLCodeBlock q:after {
  content: "";
}

.HTMLCodeBlock q span:before {
  content: "\0201c";
}

.HTMLCodeBlock q span:after {
  content: "\0201d";
}

.HTMLCodeBlock dfn {
  border-bottom: 0;
}

.HTMLCodeBlock dfn span {
  border-bottom: 1px dotted #000;
}

table, tr, td {
  position: relative;
}

table {
  counter-reset: count-num count-alpha;
  text-align: left;
}

.sm table td {
  padding-left: 0.5em;
}

table td {
  position: relative;
  padding-left: 1em;
  white-space: nowrap;
}

table td:first-child {
  padding-left: 0;
}

table td.tdr {
  text-align: right;
}

table td.div {
  border-right: 1px solid #000;
  padding-left: 0.5em;
}

table td.div + td {
  padding-left: 0.5em;
}

table td.count {
  padding: 0 0.5em;
  text-align: left;
}

table td.count.num {
  counter-increment: count-num;
}

table td.count.num:before {
  content: counter(count-num) ".";
}

table td.count.alpha {
  counter-increment: count-alpha;
}

table td.count.alpha:before {
  content: counter(count-alpha, lower-alpha) ".";
}

fieldset {
  border-radius: 5px;
  border-left: 1px solid #000;
  margin-top: 1em;
}

fieldset + * {
  margin-top: 1em;
}

fieldset > * {
  padding-left: 1em;
}

fieldset > *:last-child {
  margin-bottom: 0;
}

fieldset > blockquote,
fieldset > .wordbank,
fieldset > table {
  padding-left: 0;
  margin-left: 1em;
}

fieldset > blockquote {
  padding-left: 1em;
}

fieldset h3 {
  text-align: justify;
  font-weight: 500;
}

fieldset h3 b {
  font-weight: normal;
}

.wordbank {
  margin-left: 0;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
}

.wordbank ul, .wordbank ol {
  padding: 0;
  margin: 0;
}

.wordbank li {
  display: inline-block;
  margin: 0 0.5em;
}

.wordbank ol {
  counter-reset: count-num;
}

.wordbank ol li {
  counter-increment: count-num;
}

.wordbank ol li:before {
  content: counter(count-num) ". ";
}

.wordbank:before {
  content: "Word Bank";
  display: block;
  font-size: 0.75em;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  letter-spacing: 0px;
  border-bottom: 1px dashed #000;
}

input[type=text] {
  display: inline-block;
  white-space: nowrap;
  vertical-align: baseline;
  width: 6em;
  border-bottom: 1px solid #000;
  font-style: normal;
  text-align: left;
}

.smblank input[type=text] {
  width: 1em;
}

table input[type=text] {
  width: 3em;
}

@media screen {
  input[type=text]:hover {
    background-color: #cdf;
    cursor: pointer;
  }
  input[type=text]:focus {
    background-color: #cdf;
    cursor: text;
  }
  input[type=text].correct {
    border-bottom-color: #ccc;
    background-color: #dfd;
    animation: flash-correct 0.7s forwards;
  }
}

@media print {
  input[type=text] {
    color: transparent;
  }
}

input[type=text].checkbox {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #999;
  width: 0.6em;
  height: 0.6em;
  text-align: center;
  cursor: pointer;
}

input[type=text].checkbox + span {
  display: inline;
  padding-left: 1em;
  vertical-align: bottom;
}

input[type=text].line {
  display: block;
  width: 100%;
}

#nav {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  opacity: 0.2;
  text-align: left;
  background-color: #eee;
  transition: opacity 0.5s;
}

@media print {
  #nav {
    display: none;
  }
}

#nav #score {
  display: inline-block;
  width: 0px;
  overflow: visible;
  white-space: nowrap;
  color: #000;
  background-color: #9f9;
  border-right: 1px solid #ddd;
}

#nav #score #scoreCorrect {
  position: relative;
  display: inline-block;
  transition: color 0.3s;
}

#nav:hover {
  opacity: 1;
}

#nav.active {
  opacity: 1;
}

#nav.active #scoreCorrect {
  animation: flip 0.5s forwards;
}

@keyframes flash-correct {
  from {
    background-color: #fff;
    color: #fff;
  }
  to {
    background-color: #dfd;
    color: #000;
  }
}

@keyframes flip {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
