$fontText: "News706", "Georgia", serif;
$fontCode: "Andale Mono", monospace;
$fontHand: "Pointfree", cursive;
$fontHeader: "PF Din Text Comp Pro", Impact, sans-serif;

@mixin hidden{
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:1px;
  overflow:hidden;
  opacity:0.01;
}

*{
  margin:0;
  border:0;
  padding:0;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  font-style:inherit;
  border-collapse:collapse;
  text-decoration:inherit;
  color:inherit;
}
*:focus{
  outline:none;
}

html{
  overflow-y:scroll;
  overflow-x:hidden;
}
html, body{
  position:relative;
  min-height:100vh;
  font-size:18px;
  font-family:$fontText;
  width:100%;
}
body{
}
strong{
  font-weight:bold;
}
em{
  font-style:italic;
}
ul, ol{
  padding-left:20px;
}
li{
  ul > &{
    list-style-type:disc;
  }
  ol > &{
    list-style-type:decimal;
  }
}
blockquote, q{
  &:before{
    content:"\0201c";
  }
  &:after{
    content:"\0201d";
  }
}
[data-code], .code{
  // word-break:break-all;
  text-align:left;
}
[data-code], .code, code{
  white-space:pre-wrap;
  font-family: $fontCode;

  .HTMLCodeBlock &{
    font-weight:normal;
    font-style:normal;
    font-size:1rem;
    text-transform:none;
  }
}
.HTMLCodeBlock{
  q{
    &:before,
    &:after{
      content:"";
    }
    span{
      &:before{
        content:"\0201c";
      }
      &:after{
        content:"\0201d";
      }
    }
  }
  dfn{
    border-bottom:0;
    span{
      border-bottom:1px dotted #000;
    }
  }
}

input[data-answer]{
  display:inline-block;
  border:1px dotted #000;
  border-radius:5px;
  white-space:nowrap;
  font-family: $fontHand;
  width:6em;

  td &:only-child{
    width:100%;
  }
  &:focus{
    background-color:#ffb;
  }
  &.correct{
    border:1px solid transparent;
    animation: flash-correct 0.7s forwards;
  }
  &.line{
    display:block;
    width:100%;
  }
  &.inline{
    text-align:center;
    width:3em;
  }
  &.flex{
    flex-grow:1;
    margin-left:0.5em;
    border-width:0 0 1px 0;
    border-radius:0;

    &:only-child{
      margin-left:0;
    }
  }
}
span.line{
  display:inline-flex;
  width:100%;
}
mark{
  border:1px solid #000;
  border-radius:0.5em;
  background-color:inherit;
  padding:0 0.5em;
  margin:0 2px;
}
dfn{
  border-bottom:1px dotted #000;
  font-weight:bold;
}
.wordbank{
  text-align:center;

  ul, ol{
    padding-left:0;
  }

  li{
    display:inline-block;
    margin:0.2em 2em;
    border-bottom:1px dotted #000;
    padding-left:0;
  }

  ol{
    counter-reset: count-num;

    li{
      counter-increment: count-num;
      &:before{
        content: counter(count-num) ". ";
      }
    }
  }
}

body{
  text-align:center;
}

.section{
  display:inline-block;
  vertical-align:top;
  box-sizing:border-box;
  text-align:left;
  line-height:1.6em;

  p, table, ol, ul, .aside,
  & > pre{
    margin:1.5em auto 0em auto;
  }
  & > h1{
    margin:0.5em auto;
  }

  h1{
    font-size:1.5em;
    font-family:$fontHeader;
    text-transform:uppercase;
  }
  h2{
    font-weight:bold;
    text-align:center;
  }
  li{
    padding-left:0.5em;
  }
  .aside{
    display:block;
    float:right;
    padding-left:1em;
    margin-left:1em;
    border-left:1px solid #000;
  }
  hr{
    display:block;
    clear:both;
  }
  table, tr, td{
    box-sizing:border-box;
    position:relative;
  }
  table{
    counter-reset: count-num count-alpha;
    width:100%;

    &.inline{
      width:auto;
    }

    .count{
      padding:0 0.5em;
      text-align:left;
      &.num{
        counter-increment: count-num;
        &:before{
          content: counter(count-num) ".";
        }
      }
      &.alpha{
        counter-increment: count-alpha;
        &:before{
          content: counter(count-alpha, lower-alpha) ".";
        }
      }
    }
    td{
      position:relative;
      vertical-align:top;
      padding:0 1em;
    }
  }
}

#score{
  position:fixed;
  top:0;
  right:0;
  background-color:#dfd;
  border-bottom-left-radius:10px;
  overflow:hidden;
  box-shadow: 5px -5px 10px 0px #cec inset,
              0px 0px 10px 0px #000;
  transition:opacity 0.3s;
  z-index:9999;
  opacity:0.95;

  @media print{
    display:none;
  }

  &:hover,
  &:active,
  &:focus{
    opacity:1;
  }

  #correct{
    position:relative;
    display:inline-block;
    transition:color 0.3s;
  }
  &.active #correct{
    color:#000;
    animation: flip 0.5s forwards;
  }

  & > *{
    display:block;
    width:100%;
    background-color:transparent;
    font-size:18px;
    line-height:18px;
    padding:5px 10px;
    border-bottom:1px solid rgba(100, 155, 100, 0.3);
    box-sizing:border-box;
    color:#8a8;
    // text-shadow:0px 0px 2px #bdb;
  }

  label, button{
    cursor:pointer;
    transition: background-color 0.2s;

    &:hover{
      background-color:rgba(255,255,255,0.4);
    }
  }
  label:active,
  button:active,
  input:checked + label{
    background-color:rgba(000,100,000,0.2);
  }

  & > input[type="checkbox"]{
    @include hidden;
  }
}

$page-x: 85;
$page-y: 110;
$min-width: 401px;
$max-width: 800px;
$aspect: ($page-x / $page-y);
@function width-from-height($height){
  @return ($aspect * $height);
}
@function height-from-width($width){
  @return ($width / $aspect);
}
$max-height: height-from-width($max-width);
$min-height: height-from-width($min-width);
@mixin size-from-height($height){
  height: $height;
  width: width-from-height($height);
  font-size: (3/100) * width-from-height($height);
}
@mixin size-from-width($width){
  height: height-from-width($width);
  width: $width;
  font-size: (3/100) * $width;
}

#main{
  font-size:0;
  margin:0 auto;
}
.section{
  display:block;
  margin: 2em auto;
  padding:1em;
  width:90%;
  border:1px dotted #fff;
  border-bottom-color:#ddd;
  box-sizing:border-box;
  font-size:18px;
  clear:both;
  overflow:visible;

  @media print{
    font-size: (3/100) * 100vw;
    page-break-inside:avoid;
    page-break-before:always;
    border-width:0px;
    padding:0;
  }
  @media screen{
    display:inline-block;
    padding:1em;
    margin:0;

    @media (max-aspect-ratio: $page-x "/" $page-y){
      @include size-from-width(98vw);
    }
    @media (min-aspect-ratio: $page-x "/" $page-y){
      border-right-color:#ddd;
      @include size-from-height(100vh);
      @media (max-height: $min-height){
        @include size-from-width(100vw);
      }
    }
    @media (min-aspect-ratio: ($page-x * 2) "/" $page-y){
      @media (max-height: $min-height){
        @include size-from-height($min-height);
      }
    }
  }
}

@keyframes flash-correct{
  from{
    background-color:#fff;
    color:#fff;
  }
  to{
    background-color:#dfd;
    color:#000;
  }
}

@keyframes flip{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
