$fontText: "News706", "Georgia", serif;
$fontCode: "Andale Mono", monospace;
$fontHand: "Pointfree", cursive;
$fontHeader: "PF Din Text Comp Pro", Impact, sans-serif;

@mixin hidden{
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:1px;
  overflow:hidden;
  opacity:0.01;
}

*{
  margin:0;
  border:0;
  padding:0;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  font-style:inherit;
  border-collapse:collapse;
  text-decoration:inherit;
  color:inherit;
}
*:focus{
  outline:none;
}

html{
  overflow-y:scroll;
  overflow-x:hidden;
  width:100%;
}
html, body{
  position:relative;
  min-height:100vh;
  font-size:18px;
  font-family:#{$fontText};
}
body{
  width:100vw;
}
strong{
  font-weight:bold;
}
em{
  font-style:italic;
}
ul, ol{
  padding-left:20px;
}
li{
  ul > &{
    list-style-type:disc;
  }
  ol > &{
    list-style-type:decimal;
  }
}
blockquote, q{
  &:before{
    content:"\0201c";
  }
  &:after{
    content:"\0201d";
  }
}
[data-code], .code{
  // word-break:break-all;
  text-align:left;
}
[data-code], .code, code{
  white-space:pre-wrap;
  font-family: #{$fontCode};

  .HTMLCodeBlock &{
    font-weight:normal;
    font-style:normal;
    font-size:1rem;
    text-transform:none;
  }
}
.HTMLCodeBlock{
  q{
    &:before,
    &:after{
      content:"";
    }
    span{
      &:before{
        content:"\0201c";
      }
      &:after{
        content:"\0201d";
      }
    }
  }
  dfn{
    border-bottom:0;
    span{
      border-bottom:1px dotted #000;
    }
  }
}
b{
  color:#fff;
}
input[data-answer]{
  &:focus{
    background-color:#ffb;
  }
  &.correct{
    border:1px solid transparent;
    animation: flash-correct 0.7s forwards;
  }
}

b, input[data-answer]{
  display:inline-block;
  border:1px dotted #000;
  border-radius:5px;
  white-space:nowrap;
  font-family: #{$fontHand};

  &.line{
    display:block;
    width:100%;
  }
  &.inline{
    text-align:center;
    width:3em;
  }
  &.flex{
    flex-grow:1;
    width:auto;
    margin-left:0.5em;
    border-width:0 0 1px 0;
    border-radius:0;

    &:only-child{
      margin-left:0;
    }
  }
}
span.line{
  display:inline-flex;
  width:100%;
}
mark{
  border:1px solid #000;
  border-radius:0.5em;
  background-color:inherit;
  padding:0 0.5em;
  margin:0 2px;
}
dfn{
  border-bottom:1px dotted #000;
  font-weight:bold;
}
.wordbank{
  text-align:center;

  ul, ol{
    padding-left:0;
  }

  li{
    display:inline-block;
    margin:0.2em 2em;
    border-bottom:1px dotted #000;
    padding-left:0;
  }

  ol{
    counter-reset: count-num;

    li{
      counter-increment: count-num;
      &:before{
        content: counter(count-num) ". ";
      }
    }
  }
}

body{
  text-align:center;
}

.section{
  display:inline-block;
  vertical-align:top;
  box-sizing:border-box;
  text-align:left;
  border-style:dotted;
  border-color:#ddd;
  border-left-width:1px;
  border-right-width:1px;
  border-bottom-width:1px;

  &:nth-child(even){
    border-left-width:0;
  }

  line-height:1.6em;

  p, table, ol, ul, .aside,
  & > pre{
    margin:1.5em auto 0em auto;
  }
  & > h1{
    margin:0.5em auto;
  }

  h1{
    font-size:1.5em;
    font-family:#{$fontHeader};
    text-transform:uppercase;
  }
  h2{
    font-weight:bold;
    text-align:center;
  }
  li{
    padding-left:0.5em;
  }
  .aside{
    display:block;
    float:right;
    padding-left:1em;
    margin-left:1em;
    border-left:1px solid #000;
  }
  hr{
    display:block;
    clear:both;
  }
  table, tr, td{
    box-sizing:border-box;
  }
  table{
    counter-reset: count-num count-alpha;
    width:100%;

    &.inline{
      width:auto;
    }

    .count{
      padding:0 0.5em;
      text-align:left;
      &.num{
        counter-increment: count-num;
        &:before{
          content: counter(count-num) ".";
        }
      }
      &.alpha{
        counter-increment: count-alpha;
        &:before{
          content: counter(count-alpha, lower-alpha) ".";
        }
      }
    }
    td{
      position:relative;
      vertical-align:top;
      padding:0 1em;
    }
  }
}

#score{
  position:fixed;
  top:0;
  right:0;
  background-color:#dfd;
  border-bottom-left-radius:10px;
  overflow:hidden;
  box-shadow: 5px -5px 10px 0px #cec inset,
              0px 0px 10px 0px #000;
  transition:opacity 0.3s;
  z-index:9999;
  opacity:0.95;

  @media print{
    display:none;
  }

  &:hover,
  &:active,
  &:focus{
    opacity:1;
  }

  #correct{
    position:relative;
    display:inline-block;
    transition:color 0.3s;
  }
  &.active #correct{
    color:#000;
    animation: flip 0.5s forwards;
  }

  & > *{
    display:block;
    width:100%;
    background-color:transparent;
    font-size:12px;
    line-height:12px;
    padding:5px 10px;
    border-bottom:1px solid rgba(100, 155, 100, 0.3);
    box-sizing:border-box;
    color:#8a8;
    text-shadow:0px 0px 2px #bdb;
  }

  label, button{
    cursor:pointer;
    transition: background-color 0.2s;

    &:hover{
      background-color:rgba(255,255,255,0.4);
    }
  }
  label:active,
  button:active,
  input:checked + label{
    background-color:rgba(000,100,000,0.2);
  }

  & > input[type="checkbox"]{
    @include hidden;
  }
}

$page-x: 85;
$page-y: 110;
$aspect: ($page-x / $page-y);
@mixin size-from-width($vw){
  $percent:   ($vw / 100);
  width:      ($vw);
  height:     ($vw / $aspect);
  padding:    (2 * $percent);
  font-size:  (3 * $percent);
}
// @function n-pages-wide($n){
//   @return "#{$page-x * $n}/#{$page-y}";
// }

.section{
  width: 90%;
  @include size-from-width(100vw);
}
@media print{
  .section{
    page-break-inside:avoid;
    page-break-before:always;
    border-width:0px;
    padding:0;
  }
}
@media screen{
  body{
    width:100%;
    box-sizing:border-box;
  }
  #main{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
  }
}
@media  screen and (max-width:800px){
  .section{
    @include size-from-width(100vw);
    width:100%;
    border-right-width:0px;
  }
}
@media  screen and (min-width:800px){
  .section{
    @include size-from-width(50vw);
    width:50%;
  }
  .section:nth-child(even){
    border-right-width:0px;
  }
}

@keyframes flash-correct{
  from{
    background-color:#fff;
    color:#fff;
  }
  to{
    background-color:#dfd;
    color:#000;
  }
}

@keyframes flip{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
