* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  border-collapse: collapse;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}

*:focus {
  outline: none;
}

div {
  position: relative;
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

html, body, .page {
  font-size: 18px;
  line-height: 30px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("bg_pixel.png");
  background-color: #49485C;
  background-size: 300px;
}

.page .pageDesc {
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #000;
  margin-bottom: 12px;
}

@media screen {
  .page .pageDesc {
    color: #aaa;
    border-color: #aaa;
    text-shadow: none;
  }
}

.page .pageDesc h1 a {
  display: block;
  text-align: center;
}

.page .pageDesc .pageNum {
  position: absolute;
  top: 0;
  left: 0;
}

.page {
  color: #000;
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: left;
  border-radius: 5px;
  background-color: #fff;
  background-image: url("bg_white.png");
  overflow: auto;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 0 20px 0 #222;
}

@media screen {
  .page {
    color: #555;
    text-shadow: 1px 1px 0px #fff;
  }
}

@media (max-width: 600px) {
  .page {
    border-radius: 0;
  }
}

@media print {
  #background {
    display: none;
  }
  #main {
    font-size: 0;
  }
  .page {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    background-image: none;
    padding: 0;
    margin: 0;
    max-width: none;
    box-shadow: none;
    text-shadow: none;
    padding-right: 0.39in;
  }
  .page:nth-child(even) {
    padding-right: 0;
    padding-left: 0.39in;
  }
  .page:nth-child(even) .pageDesc .pageNum {
    left: auto;
    right: 0;
  }
}

html, body {
  font-family: "Arial", serif;
  text-align: center;
}

a, label, button {
  cursor: pointer;
}

strong {
  color: #000;
  border-bottom: 1px solid #000;
}

em {
  font-style: italic;
}

mark {
  border: 1px solid #000;
  border-radius: 0.5em;
  background-color: inherit;
  padding: 0 0.5em;
  margin: 0 2px;
}

dfn {
  color: #000;
  font-weight: bold;
}

@media screen {
  dfn {
    background-color: #ff0;
  }
}

pre, code, .code {
  text-align: left;
  white-space: pre-wrap;
  font-family: "Courier New", "Andale Mono", monospace;
  font-style: normal;
  font-size: 1rem;
}

.fig {
  text-align: center;
}

.fig > * {
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  clear: both;
}

label:hover {
  background-color: #ffa;
}

ul, ol {
  margin-left: 20px;
}

ul > li {
  list-style-type: disc;
}

ol > li {
  list-style-type: decimal;
}

q:before {
  content: "\0201c";
}

q:after {
  content: "\0201d";
}

blockquote {
  font-style: italic;
  font-weight: lighter;
}

.HTMLCodeBlock > * {
  margin-bottom: 1.6em;
}

.HTMLCodeBlock code, .HTMLCodeBlock .code {
  font-weight: normal;
  text-transform: none;
}

.HTMLCodeBlock q:before, .HTMLCodeBlock q:after {
  content: "";
}

.HTMLCodeBlock q span:before {
  content: "\0201c";
}

.HTMLCodeBlock q span:after {
  content: "\0201d";
}

.HTMLCodeBlock dfn {
  border-bottom: 0;
}

.HTMLCodeBlock dfn span {
  border-bottom: 1px dotted #000;
}

.page .main > * {
  margin-bottom: 1.6em;
}

.page table, .page tr, .page td {
  position: relative;
}

.page table {
  counter-reset: count-num count-alpha;
  text-align: left;
}

.page table .tdr {
  text-align: right;
}

.page table .divide {
  border-left: 1px solid black;
}

.page table .count {
  padding: 0 0.5em;
  text-align: left;
}

.page table .count.num {
  counter-increment: count-num;
}

.page table .count.num:before {
  content: counter(count-num) ".";
}

.page table .count.alpha {
  counter-increment: count-alpha;
}

.page table .count.alpha:before {
  content: counter(count-alpha, lower-alpha) ".";
}

.page table td {
  position: relative;
  padding-left: 1em;
  white-space: nowrap;
}

fieldset {
  background-color: #fff;
}

@media screen {
  fieldset {
    border-color: #aaa;
  }
}

@media print {
  fieldset {
    border-left: 1px solid #000;
  }
}

fieldset > * {
  padding-left: 1em;
}

fieldset h2 {
  color: #000;
  text-align: justify;
  line-height: 1.4em;
  margin-left: 0;
}

@media screen {
  fieldset h2 {
    background-color: #e9e9ff;
    text-shadow: none;
    padding-right: 1em;
  }
}

b, input[type=text] {
  display: inline-block;
  white-space: nowrap;
  vertical-align: baseline;
  font-family: "Comic Sans MS", cursive;
}

b {
  width: 4em;
}

input[type=text] {
  width: 6em;
  border-bottom: 1px solid #000;
  font-style: normal;
  text-align: left;
}

@media screen {
  input[type=text] {
    border-color: #ccc;
    background-color: #ffc;
  }
}

@media print {
  input[type=text] {
    color: transparent;
  }
}

input[type=text].checkbox {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #999;
  width: 0.6em;
  height: 0.6em;
  text-align: center;
  cursor: pointer;
}

input[type=text].checkbox + span {
  display: inline;
  padding-left: 1em;
  vertical-align: bottom;
}

input[type=text].line {
  display: block;
  width: 100%;
}

input[type=text].flex {
  flex-grow: 1;
  margin-left: 0.5em;
  border-width: 0 0 1px 0;
  border-radius: 0;
}

input[type=text].flex:only-child {
  margin-left: 0;
}

span.line {
  display: inline-flex;
  width: 100%;
}

.wordbank {
  text-align: center;
}

.wordbank ul, .wordbank ol {
  padding-left: 0;
}

.wordbank li {
  display: inline-block;
  margin: 0 0.5em;
  border-bottom: 1px dotted #000;
  padding-right: 0.5em;
}

.wordbank ol {
  counter-reset: count-num;
}

.wordbank ol li {
  counter-increment: count-num;
}

.wordbank ol li:before {
  content: counter(count-num) ". ";
}

#nav {
  display: block;
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 30px;
  opacity: 0.3;
  text-align: left;
  background-color: #000;
  transition: opacity 0.5s;
}

@media print {
  #nav {
    display: none;
  }
}

#nav #score {
  display: inline-block;
  width: 0px;
  overflow: visible;
  white-space: nowrap;
  color: #888;
  background-color: #afa;
}

#nav #score #scoreCorrect {
  position: relative;
  display: inline-block;
  transition: color 0.3s;
}

#nav:hover {
  opacity: 1;
}

#nav.active {
  opacity: 1;
}

#nav.active #scoreCorrect {
  animation: flip 0.5s forwards;
}

@media screen {
  .correct {
    background-color: #afa;
    animation: flash-correct 0.7s forwards;
  }
}

@keyframes flash-correct {
  from {
    background-color: #fff;
    color: #fff;
  }
  to {
    background-color: #afa;
    color: #000;
  }
}

@keyframes flip {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
