<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robin's Web Dev Book</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="main">
      {{body}}
    </div>
    <div id="background"></div>
    <div id="score">
      <div>Score: <span id="scoreCorrect">0</span> / <span id="scoreTotal">0</span></div>
      <button id="scoreClear">Clear</button>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
